body {
  background-image: url("wave.jpg");
  background-color: black;
  font-family: 'Gloria Hallelujah', cursive;
  color: whitesmoke;
}
.container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h1 {
  flex: 1 100%;
  font-size: 50px;
  text-shadow: -4px 2px black;
}
.search {
  position: relative;
  top: 60px;
}
.results {
  position: relative;
  top: 70px;
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
}
.output {
  flex: 25%;
  text-align: center;
}
.player {
  position: relative;
  top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
}
form {
  width: 100%;
  margin: auto;
}
label {
  margin-top: 10px;
  padding-top: 10px;
  font-size: 22px;
  line-height: 24px;
  text-shadow: -2px 1px #1d1c1b;
}
#textInput {
  margin: 20px 10px 0px 30px;
  width: 250px;
  line-height: 20px;
}
ul {
  max-width: 120px;
  list-style: none;
}
p {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
}
h3 {
  flex: 100%;
  text-align: center;
  text-shadow: -2px 6px #1d1c1b;
}
button {
  height: 30px;
  background-color: black;
  color: white;
}
